.app-container {
  display: flex;
  justify-content: center;
  background-color: rgb(196, 188, 188);
  height: 100%;
  width: 100vw;
}

.content {
  background-color: white;
  width: 720px;
}

.header-content {
  padding: 8px 24px 0px 24px;
}

.source-line {
  display: flex;
  margin-top: -18px;
}

.source-text {
  font-weight: bold;
}

.byline {
  font-style: italic;
  margin-left: 4px;
}

.date-line {
  margin-top: -24px;
}

.content-text {
  color: #5f5757;
  font-size: 15px;
  margin-top: 24px;
}
.content-text:nth-child(1) {
  margin-top: -24px;
}

.image-content {
  text-align: center;
}

.image {
  width: 60%;
}

.image-caption {
  font-size: 12px;
  color: #6d6c6c;
}

.div-blocks {
  padding: 24px 24px;
  padding: 24px 24px 24px 28px;
  margin-top: -12px;
}

.pull-quote-text {
  border-left: 6px solid blue;
  padding-left: 16px;
  width: 60%;
  margin: auto;
}
.quote-text {
  font-style: italic;
  font-size: 19px;
}

.attribution-text {
  font-size: 12px;
  color: grey;
  margin-top: 0px;
}

.list-content {
  padding-left: 12px;
}

.text-index-list {
  font-size: 15px;
  color: grey;
}
.text-item-list {
  margin-left: 12px;
  color: #5f5757;
  font-size: 15px;
}

.button-loading {
  background-color: #5fbae4;
  color: white;
  font-weight: bold;
  border-radius: 25px;
  outline: none;
  height: 32px;
  width: 150px;
  border: none;
  cursor: pointer;
}

.load-more-div {
  text-align: center;
  position: fixed;
  bottom: 10px;
  right: 10px;
}

.loader {
  border: 2px solid #f3f3f3; /* Light grey */
  border-top: 2px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 2s linear infinite;
  position: absolute;
  top: 4px;
}

.loader-page {
  border: 4px solid #f3f3f3; /* Light grey */
  border-top: 4px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
  position: absolute;
  top: 45%;
  margin: auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
